
@font-face{ 
	font-family: 'Open Sans';
    src: url('OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('OpenSans-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
