<div class="container" *ng-if="article">
  <button class="btn btn-primary" [router-link]="['Home']">Go back to the blog</button>
  <h1>Administration</h1>
  <fieldset>
    <legend>
      <span [hidden]="editTitle" (dblclick)="editTitle = true" placeholder="Title">{{article.name}}</span>
      <form (submit)="editTitle = false" [hidden]="!editTitle">
        <input type="text" [(ng-model)]="article.name" (blur)="editTitle = false" />
      </form>
    </legend>
    <p [hidden]="editText" (dblclick)="editText = true">
      {{article.text}}
    </p>
    <form (submit)="editText = false">
      <textarea [hidden]="!editText" [(ng-model)]="article.text" (blur)="editText = false" placeholder="Some text"></textarea>
    </form>
    
  <div class="pull-right">
    <button class="btn btn-default" [router-link]=['AdminList'] >Cancel</button>
    <button class="btn btn-danger" *ng-if="article.id" (click)="delete(article)">Delete</button>
    <button class="btn btn-success" (click)="save(article)">save</button>
  </div>
</div>