<button [hidden]="data" (click)="onActivate.next()" class="btn btn-primary btn-lg">
	Display comments
</button>
<div [hidden]="!data">

	<div class="new-comment clearfix">
		<form (submit)="comment(newComment)">
			<textarea [(ng-model)]="newComment" placeholder="New comment ..."></textarea>
			<button type="submit" class="btn btn-success pull-right">Comment</button>
		</form>
	</div>
	<span class="no-comment" *ng-if="!data">No comments</span>
	<div class="comment panel panel-default" 
		*ng-for="#comment of data"> <!--  | orderBy: comment.createdAt: true track by comment.id  -->
		{{comment.text}}
	</div>
</div>