zn-article {
	$article-title-color: #333;
	$article-border-color: #aaa;
	
	display: block;
	text-align: center;
	font-size: 3.5em;
	font-weight: bold;
	margin-top: 50px;
	padding-bottom: 30px;
	border-bottom: 1px solid $article-border-color;

	.date {
		float: left;
    color: #999;
    font-size: 12px;
	}
	h2 {
		color: $article-title-color;
		&:hover {
			cursor: pointer;
			color: lighten($article-title-color, 20%);
		}
	}
	section {
		text-align: left;
    font-size: 18px;
    padding-top: 0.8em;
    font-weight: 400;
	}
}